@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Noto+Sans+JP:wght@300&family=Oswald:wght@600&family=Press+Start+2P&family=Roboto:wght@300&display=swap');

body{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


#container{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 600px;
    height: 300px;
    border-radius: 46px;
    background: rgba(217, 217, 217, 0.80);
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    align-items:center;
    
    
    
}
h2{
    font-weight: 900;
    font-size: 25px;
    font-family: 'Press Start 2P';
    color: #2C4F7D;
    -webkit-text-stroke:0.5px;
    -webkit-text-stroke-color: #B23B3B;
    padding: 25px;
}



#box2{
    height: 60px;
    width: 450px;
    border-radius: 15px;
    background: #FFF;
}
#inputbox{
    margin: 13px;
    width: 430px;
    height: 30px;
    border: 0;
    outline: none;
    font-size: 20px;
    font-family: 'Press Start 2P';
    color: #2C4F7D;
    -webkit-text-stroke:0.5px;
    /* -webkit-text-stroke-color: #B23B3B; */
    text-align: center;
    text-transform: uppercase;
}

#submitButton{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    /* background: #FFF; */
    margin: 30px;
    


}
h1{
    font-weight: 900;
    font-size: 25px;
    font-family: 'Press Start 2P';
    color: #2C4F7D;
    -webkit-text-stroke:0.5px;
    -webkit-text-stroke-color: #B23B3B;
    /* padding: 25px; */
    padding-left: 12px;

}

h1:hover{
    cursor: pointer;
}

@media only screen and (max-width:600px){
    body{
        background-size: cover;
        /* background-repeat: repeat; */
        height: 100%;
        height: 100vh; 
        width: 100vw; 
    }

    #box{
        height: 300px;
        width: 300px;
    }
    h2{
        font-size: 16px;
        font-family: 'Press Start 2P';
        color: #2C4F7D;
        -webkit-text-stroke:0.5px;
        -webkit-text-stroke-color: #B23B3B;
        padding: 25px;
    
   
    }
    #box2{
        height: 60px;
        width: 250px;
        border-radius: 15px;
        background: #FFF;
    }
    #inputbox{
        width: 220px;
  

    }
    #Button1{
        font-size: x-large;
    }
}