@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Noto+Sans+JP:wght@300&family=Oswald:wght@600&family=Press+Start+2P&family=Roboto:wght@300&display=swap');

body{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


#container{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 600px;
    height: 500px;
    border-radius: 46px;
    background: rgba(217, 217, 217, 0.51);
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

#Buttons{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center; 

    

    
}
h2{
    font-weight: 900;
    font-size: 25px;
    font-family: 'Press Start 2P';
    color: #2C4F7D;
    -webkit-text-stroke:0.5px;
    -webkit-text-stroke-color: #B23B3B;
    padding: 25px;
}


h1{
    font-weight: 900;
    font-size: 25px;
    font-family: 'Press Start 2P';
    color: #2C4F7D;
    -webkit-text-stroke:0.5px;
    -webkit-text-stroke-color: #B23B3B;
    /* padding: 25px; */
    padding-left: 12px;
    text-transform: uppercase;

}

h1:hover{
    cursor: pointer;
}

#scorecarddiv{
    display: flex;
}
#winner{
    text-align: center;
    position: relative;
    top: 30px;
}

#footer{
    width: 500px;
    position: fixed;
    left: 46vw;
}
a{
    font-size: large;
    text-decoration: none;
    color: white;

    color: white;

}
a:hover{
    font-size: larger;
    color:black;
}
@media only screen and (max-width:600px){
    body{
        background-size: cover;
        /* background-repeat: repeat; */
        /* height: 100%; */
        height: 100vh; 
        width: 100vw; 
    }
    #box{
        width: 350px;
        height: 550px;
    
        
    }
    #footer{
        width: 500px;
        position: fixed;
        left: 33vw;
    }
}